.root {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #1a171e;
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo {
  display: flex;
  align-items: center;
  height: 50px;
}
.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.logo-text {
  font-size: 24px;
  color: rgb(219, 55, 58);
}
.title {
  color: #777;
}
.hr {
  height: 0px;
  border: 1px solid rgba(241, 241, 241, 0.179);
  width: 100%;
}
.list {
  padding: 1px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-item {
  cursor: pointer;
  &:hover {
    color: rgb(219, 55, 58);
  }
}
