.root {
  display: flex;
  justify-content: space-between;
  border: 2px solid #aaaaaa;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 35px;
}
.input {
  width: 50%;
  background-color: transparent;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  opacity: 1;
  border: 0px solid black;
  outline: none;
  color: rgb(194, 189, 189);
}
.search-button {
  background-color: #9e1b1b;
  color: white;
  font-weight: 500;
  padding: 15px;
  border: 0px solid black;
  cursor: pointer;
}
