.root {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-details {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: transparent;
  height: 100%;
  background-image: linear-gradient(black, rgba(255, 255, 255, 0));
  color: white;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  opacity: 0;
  &:hover {
    opacity: 100%;
    cursor: pointer;
    transform: 0.3s ease none;
  }
}
.card-span {
}
.rating {
  font-weight: 500;
}
.card-desc {
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.card-button {
  border-radius: 50%;
  background-color: rgb(219, 55, 55);
  color: white;
  height: 40px;
  border: 0px solid black;
  font-size: 30px;
  width: 40px;
}
